<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

<!-- Custom Gateway -->
	<int:gateway
		service-interface="com.test.spring.CustomGateway"
		default-request-channel="inputChannel">
		<int:method name="print" />
	</int:gateway>

<!-- Channel -->
	<int:channel id="inputChannel" />
	
	<!-- Endpoint -->
	<int:service-activator ref="printService" input-channel="inputChannel" method="print"/>
	
	<!-- Spring bean -->
	<bean id="printService" class="com.test.spring.PrintService"/>
	
	<!-- Spring bean -->
	<bean id="reverseService" class="com.test.spring.ReverseService"/>
</beans>
